.updates-title{
    /* margin-bottom: 0;   */
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightBrown);
    background-color: var(--darkBlue);
    font-size: 4vw;
    font-family: serif;

}
.updates-container{
    display: flex;
    margin-block: 3rem;
    
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.snap{
    scroll-snap-type: inline mandatory;
}
.snap > *{
    scroll-snap-align: start;
}

.updates-img{
    margin-bottom: 3vh;
    padding-inline: 0.5vw;
}
@media only screen and (max-width:910px) {
    .updates-title{
        font-size: 7vw;
    }
}