.updates-title{
    color: rgb(232,208,188);
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    font-size: 4.3vw;
    background-image: linear-gradient(135deg,rgb(1, 0, 16)75%,rgb(232,208,188)70% );
    margin-bottom: 0;
}
.updates-container{
    display: flex;
    margin-block: 3rem;
    
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.snap{
    scroll-snap-type: inline mandatory;
}
.snap > *{
    scroll-snap-align: start;
}

.updates-img{
    margin-bottom: 3vh;
    padding-inline: 0.5vw;
}
@media (min-width:1600px) {
    .updates-title{
    font-size:5.5rem;
    height: 6rem;
    }
}
@media (min-height:850px){
    .updates-title{
    font-size:5.5rem;
    height: 6rem;
    }
}