.start{
    display: block;
}
.arabic-info{
  color: var(--lightBrown);
}
.title-arabic{
  position: absolute;
  bottom: 30vh;
  right: 5rem;
  font-size: 8rem;
  text-shadow: 2px 2px 3px var(--lightBrown) ;

}
.time-arabic{
  position: absolute;
  bottom: 10vh;
  right: 5rem;
  font-size: 2rem;
}
.teacher-arabic{
  position: absolute;
  right: 5rem;
  bottom:23vh;
}
.book-name{
  position: absolute;
  bottom: 30vh;
  left: 2rem;
  font-size: 8rem;
  color: white;
  text-shadow: 2px 2px 10px black;
}
.arabic-caption-title{
  font-size: 3rem;
}
.caption{
  background-color: var(--transparentBlack);
  border-radius: 2rem;
  color: var(--lightBrown);
}
.author{
  position: absolute;
  font-size: 2rem;
  bottom: 25vh;
  left: 2.5rem;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.teacher{
  position: absolute;
  bottom: 10vh;
  left: 2rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px 8px black;
  color: white;
}

@media only screen and (min-width:1920px){
  .salah-times h4{
    font-size: 1.5vw;
  }
  .start{
    font-size: 1.25vw;
  }
}
@media only screen and (max-width:1350px){
  .title-arabic{
    font-size: 8vw;
  }
}
@media only screen and (max-width:1180px){
  .book-name{
    font-size: 10vw;
  }

}
@media only screen and (max-width:750px){
    .salah-times h4{
      font-size: 3.5vw;
    }
    .start{
      font-size: 3vw;
    }
}
@media only screen and (min-height:850px){
  .title-arabic,.book-name{
    bottom: 15vw;
    font-size: 8vw;
  }
  .time-arabic,.teacher{
    bottom: 5vw;
    font-size: 2vw;
  }
.teacher-arabic,.author{
  bottom: 12vw;
  font-size: 3vw;
}

}