.contact-img{
    position: absolute;
    top:17.5rem;
    right: 13%;
    width: 35%;
    border-radius: 5rem;
}
#contact{
    --inputWidth:12.5rem;
    --formWidth:calc(var(--inputWidth)*2);
}
#form input,#form select{
    width:var(--inputWidth);
}
#form,.textbox{
    width:var(--formWidth);
}
#masjid-map{
    width: 45%;
    height: 70%;
}
#Message-subject{
width: 50%;  
}

select,
select option {
    color: black;
}
select:invalid,
select option[value=""] {
    color: grey;
}

#msg{
    margin-top: 1em;
    margin-bottom: 1em;
}
.references{
    display: block;
    text-decoration: none;
    margin-top: 0.5em;
    font-size: 1.2em;
}
#form{
    /* background-color: red;
    width: 377.8px; */
}
.find-us{
    margin-bottom: 2rem;
}
.panel{
    /* text-align: center; */
    padding-left: 5rem;
}
.panel-container{
    display: flex;
}
.enquiry{
    /* text-align: center; */
    display: flex;
}
#email{
    margin-top: 2em;
}
#contact{
    padding-top: 1.5em;
    width: 70%;
    background-color: var(--darkBlue);
    color: var(--lightBrown);
}
.cursive-mono,.mono{
    font-family: 'Courier New', Courier, monospace;
}
.cursive-mono h2,.cursive{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3rem;
}
.detail-wrapper{
    width: 25rem;
}
#email{
    padding-bottom: 2rem ;
}

@media only screen and (min-width: 1920px) {
    .detail-wrapper{
        width: 32.5vw;
    }
    #contact{
        --inputWidth:14vw;
    }
    #contact h1{
        font-size: 4vw;
    }
    #contact h2{
        font-size: 3vw;
    }
    #email,.find-us,#form{
        font-size: 1.5vw;
    }
    .contact-img{
        top: 35rem;
    }
}
@media only screen and (max-width: 1200px) {
    #contact{
        --inputWidth:48%;
    }
    #masjid-map{
        width: 25rem;
        margin-top: 2rem;
        height: 20rem;
        border-radius: 0;
    }
    .panel{
        padding-left: 0rem;
    }
    #contact{
        width: 100%;
    }
    .contact-img{
        display: none;
    }
    .panel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    .detail-wrapper{
        width: 85%;
    }
    #masjid-map{
        width: 100%;
    }
}
@media only screen and (max-width: 380px) {
    #email a{
        font-size: 0.8rem;
    }
}