
#masjid-map{
    margin-top: 2em;
    border: 3px solid rgb(1, 0, 16);

    border-radius: 2.5vw;
}
#Message-subject{
width: 50%;  
}

select,
select option {
    color: black;
}
select:invalid,
select option[value=""] {
    color: grey;
}

#msg{
    margin-top: 1em;
    margin-bottom: 1em;
}
.references{
    display: block;
    text-decoration: none;
    margin-top: 0.5em;
    font-size: 1.2em;
}
.panel{
    /* text-align: center; */
    width: 50%;
    padding: 5%;
}
.panel-container{
    display: flex;
}
.enquiry{
    /* text-align: center; */
    display: flex;
}
#email{
    margin-top: 2em;
}
#contact{
    margin-top: 1.5em;
}
.cursive-mono,.mono{
    font-family: 'Courier New', Courier, monospace;
}
.cursive-mono h2,.cursive{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 3rem;
}


@media only screen and (max-width: 960px) {
    .panel-container {
        display: inline;
        margin: 0%;

    }
    .panel{
        width: 100%;
        /* margin: 0; */
        /* padding: 0%; */
    }
    .input{
        width: 167px;
    }
    .enquiry{
        display: flex;
    }
    .textbox{
        width: 334px;
    }
}

