#donate{
    /* margin-left: 5vw; */
    /* margin-top: 2vw; */
    display: flex;
    flex-direction: column;
}
.right-wrapper{
  width: 30%;

}
.left-wrapper{
  width: 70%;
  background-color: var(--darkBlue);
  color: var(--lightBrown);
  margin-bottom: 0;
}
.donation-with-other{
  display: flex;
}
.other-donate{
  display: flex;
  flex-direction: column;
  width:80%;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.other-masjid,.other-bank{
  color : var(--darkBlue);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  border: 1.5px solid var(--darkBlue);
  box-shadow: 0px 0px 15px var(--darkBlue);
  /* margin: auto; */
  /* margin: auto; */
}
.donation-all{
  width:70%;
}
.donation-other{
  /* padding-top: 4rem;x   */

}
.donation-other{
  width: 30%;
}
.progress-bars,.donation{
  /* width: 50%; */
  width: 75%;
  margin: auto;
}
.progress-bars-child{
  margin-bottom: 3rem;
}

.inner-donation-other{
  width: 90%;
  margin: auto;
}
.org-name{
  display: flex;
  flex-wrap: wrap;
}
.donate-btn{
  border: none;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  /* margin-inline: 0.5rem; */
}

.donation-btns{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.cursive{
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.other-donate-title{
  text-align: center;
}
.donate-title{
  font-size: 4vw;
  /* padding-block: 1.5rem; */
}
@media only screen and (min-width: 1920px){
  .donate-subtitle{
    font-size: 2vw;
  }
  .other-donate,.progress-description{
    font-size: 1vw;
  }
  .donation-other h2{
    font-size: 3vw;
  }
}
@media only screen and (max-width: 910px){
  .donation-with-other{
    flex-direction: column;
  }
  .left-wrapper{
    width: 100%;
  }
  .right-wrapper{
    display: none;
  }
  .donation-other{
    width: 100%;
    margin-bottom: 3rem;
    padding-top: 0;
  }
  .progress-bars-child:last-child{
    margin-bottom: 0;
    padding-bottom: 3.5rem;
  }
  .donation-all{
    width:100%; 
  }
  .donate-title{
    font-size: 10vw;
  }
}
.donation-other{
  background-color: var(--lightBrown);
}
.donation-all{
  background-color: var(--darkBlue);
  color: var(--lightBrown);
  /* width: 70%; */
}