#hide{
  overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 1000ms, opacity 1000ms 0ms;
}
:root{
  --lightBrown:rgb(232,208,188);
  --darkBlueOld:rgb(1, 0, 16);
  --darkBlue:rgb(2, 0,25);
  --darkBlue:rgb(0,0,35);
  --transparentBlack:rgba(15, 7, 1, 0.395);
  --lightWhite:rgb(171, 163, 163);
}
::-webkit-scrollbar-corner{
  background-color: var(--darkBlue);
}

::-webkit-scrollbar{
  width: 1.25rem;
}
::-webkit-scrollbar-thumb{
  background-color: var(--lightWhite);
}
::-webkit-scrollbar-track{
  background-color: var(--darkBlue);
  border-left: 1px solid var(--lightBrown)
}
.bubble{
    margin-top: 1em;
    background: var(--transparentBlack);
    text-align: center;
    width: 14%;
    z-index: 1;
    position: absolute;
    border-radius: 2em;
    color: white;
    padding: 1em;
    font-family:monospace;
  }

.bubble1{
  margin-left: 3%;
}
.bubble2{
  margin-left: 23%;
}
.bubble3{
  margin-left: 43%;
}
.bubble4{
  margin-left: 63%;
}
.bubble5{
  margin-left: 83%;
}



/* --------------------------------Navbar-------------------------------- */
.menu-clicked:nth-child(1){
  transform: rotate(45deg) translate(0.4rem,.3rem) scale(1.1);
  transition: ease-out 0.5s;
}
.menu-clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
}
.menu-clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5rem,0.5rem) scale(1.1);
  transition: ease-out 0.5s;
}
.menu-unclicked{
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175,0.885,0.32,1.275) 0.5s;
}

.toTop{
  z-index: 10;
  bottom: 5%;
  right:2.5%;
  position: fixed;
  border: none;
  color: var(--darkBlue);
  border-radius: 3rem;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
  font-size: 2rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--lightWhite);
  font-weight: 500;
}

  /* --------------------------------Navbar-------------------------------- */
.nav-title div{
  margin: 0;
  padding: 0;
}
.nav-title{
display: flex;
flex-wrap: wrap;
}

.logo{
  margin-left:0.5rem;
  margin-bottom: 0;
  color: white;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo p{
  margin-bottom: 0;
  font-size: 2rem;
}
body{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--darkBlue);
  padding-block: 1vh;
}

.nav-links ul{
  display: flex ;
  margin: auto;
}

.nav-links li{
  list-style: none;
  margin-bottom: 0;
  margin-right: 1.5rem;
}
.nav-links li a{
  text-decoration: none;
  color: white;
  display: block;
}
.nav-links li:hover{
  text-decoration: underline solid;
  text-underline-offset: 7.5px;
}

.menu{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: none;
  position: absolute;
  flex-direction: column;
  right: 1rem;
  top:1rem;
}
.menu-item{
  display: flex;
  background-color: white;
  width: 100%;
  height: 0.3rem;
  margin-top: 0.3rem;
}

@media only screen and (min-width:1920px) {
  .logo img{
    margin-left: 1vw;
    width: 3.75vw;
    height: 3vw;
  }
  .logo p{
    font-size: 3vw;
  }
  .nav-links li{
    font-size: 1.4vw;
    margin-right: 1.2vw;
  }
  .nav-links:last-child{
    margin-right: 1vw;
  }
  .toTop{
    font-size: 3rem;
    padding-inline: 1.5rem;
  }
}
@media only screen and (max-width:910px) {
  .logo{
    width: 80%;
    justify-content: flex-start;

  }
  .nav-title{
    justify-content: center;
  }
  .menu{
    display:block;
  }
  .nav{
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links{
    width: 100%;
  }
  .nav-links ul{
    flex-direction: column;
    align-items: center;
  }
  .nav-links li{
    font-size: 1.7rem;
    padding: 0.3rem 0;
  }
  .nav-links ul:last-child{
    padding-bottom: 0.7rem;
  }

  .logo p{
    font-size: 1.5rem;
  }
}


@media only screen and (max-width:465px) {
  .logo p{
    font-size: 1.1rem;
  }
}
@media only screen and (max-width:365px) {
  .logo p{
    font-size: 1rem;
  }
  .logo{
    gap: 0;
    margin-left: 0;
  }
}