.title{
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  color: white;
  background-image: linear-gradient(135deg,rgb(232,208,188) 68%,rgb(1, 0, 16)49.5% );
  font-size: 6vw;
}
/* #458181 49.5% 50.5% */
.cla{
  /* margin-right: 10rem; */
  color: rgb(1, 0, 16);

  
  
}
.sses{
  color: rgb(1, 0, 16);

}
.card-stack{
  display: flex;
  gap: 5rem;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 2.5rem;
  padding-bottom:2.5rem;
}
.classes{
  background: rgb(1, 0, 16);
}
.class-bottom{
  height: 10vh;
  background-image: linear-gradient(135deg,rgb(1, 0, 16)50%,rgb(232,208,188)40%);
}